@font-face {
    font-family: "AndaleMono";
    src: url("andale.eot");
    src: url("andale.eot?#iefix") format("embedded-opentype"),
         url("andale.woff2") format("woff2"),
         url("andale.woff") format("woff"),
         url("andale.ttf") format("truetype"),
         url("andale.svg#AndaleMono") format("svg");
    font-weight: 300;
    font-style: normal;
}