body {
  background-color: #000000;
}

.terminal {
  color: #00FE44;
}
p {
  color: #00FE44;
  font-family: 'Courier New', Courier, monospace;
}
.terminal:after {
  position: absolute;
  top: 214px;
  left: 55px;
  width: 6px;
  height: 18px;
  background-color: #00FE44;
  content: "";
  -moz-animation: blink 1s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
  animation: blink 1s steps(2, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
